#h2-me {
    color: #45506c;
}

#h2-philosophy {
    color: #6c4564;
}

#h2-start {
    color: #6c6045;
}

#homepage-img {
    width: 50%;
    float: right;
    margin: 10px;
    border: #456c4d solid 3px;
}