body {
  font-family: 'Lora', serif;
  margin: 0;
  padding: 0;
  background-color: #f4f9f4;
  color: #2e3d2c;
  line-height: 1.6;
}

header {
  background-color: #88b985;
  color: white;
  padding: 1rem 2rem;
  text-align: center;
}

nav {
  background-color: #d9e8d4;
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

nav a {
  text-decoration: none;
  color: #2e3d2c;
  font-weight: bold;
}

nav a:hover {
  color: #5d795a;
}

main {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

img {
  float: right;
  margin: 10px;
}

section {
  margin-bottom: 2rem;
}

h1,
h2 {
  color: #456c4d;
}

#h2-me {
  color: #45506c;
}

#h2-philosophy {
  color: #6c4564;
}

#h2-start {
  color: #6c6045;
}